.title-card {
  display: flex;
  justify-content: space-between;
}

.fa-heart-o:hover {
  color: rgba(23, 37, 23, 0.712);
}

.fa-heart:hover {
  color: rgba(0, 0, 0, 0.288);
}
.fa-close {
  margin-right: 10px;
}

.fa-close:hover {
  color: gray;
}

.AppStartPage__btn {
  display: flex;
  justify-content: space-between;
}

.AppStartPage__btn button {
  width: 50%;
  margin-right: 2px;
}

.card-title:hover {
  cursor: pointer;
  color: gray;
}
